body {
  margin: 0;
  text-align: center;
}

header {
  padding: 50px;
  background-color: #5f80b5;
  color: #051d42;
  font-family: sans-serif;
}

form > input {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

form > button {
  padding: 10px;
  border-radius: 8px;
  background-color: #486493;
  border: none;
}

form > button:hover {
  cursor: pointer;
  background-color: #486493;
}

#letters {
  margin: 20px auto 0;
}

.letter rect {
  fill: #ffc800;
}

.new rect {
  fill: #00ff00;
}

.new text {
  font-size: 1.5em;
}